<!-- src/app/person-form/person-form.component.html -->

<div class="add-person-form">
  <h2>Add/Edit Person</h2>
  <form (ngSubmit)="addOrEditPerson()" class="person-form">
    <div class="form-group">
      <label for="newId">Id:</label>
      <input id="newId" [(ngModel)]="newPerson.id" name="newId" value="disabled" disabled  required class="form-control">
    </div>
    <div class="form-group">
      <label for="newFirstName">First Name:</label>
      <input id="newFirstName" [(ngModel)]="newPerson.firstName" name="newFirstName" required class="form-control">
    </div>
    <div class="form-group">
      <label for="newLastName">Last Name:</label>
      <input id="newLastName" [(ngModel)]="newPerson.lastName" name="newLastName" required class="form-control">
    </div>
    <div class="form-group">
      <label for="newAge">Age:</label>
      <input id="newAge" [(ngModel)]="newPerson.age" name="newAge" required class="form-control">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Add / Edit</button>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-success" (click)="deletePerson()" *ngIf="newPerson.id">Delete Person</button>    
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-success" (click)="clearForm()">Clear Form</button>    
    </div>
  </form>  
</div>